.comments-app {
    margin: 2em;
}

.comments-app .loading {
    height: 2em;
    background-image: url("/assets/img/loading.gif");
    background-repeat: no-repeat;
    background-size: 2em 2em;
    background-position: center;
}