.comments-app .comment .author {
    font-weight: bold;
    padding-right: 1em;
}
.comments-app .comment .createdAt {
    font-style: italic;
}
.comments-app .comment .body {
    white-space: pre-line;
}
.comments-app .comment .reply {
    float: right;
}
.comments-app .comment .answers {
    border-left: 1em solid lightgray;
}
